doctype html
html
    head
        include head.jade

    body.hold-transition.skin-green.sidebar-mini
        div.wrapper
            include nav.jade
            include sidebar.jade

            .content-wrapper
                block content
            include footer.jade
            div.control-sidebar-bg

        include js.jade