header.main-header
    a(href="/").logo
        span.logo-mini
        span.logo-lg
            b Citra Indah
    nav(role="navigation").navbar.navbar-static-top
        a(href="#", role="button", data-toggle="offcanvas").sidebar-toggle
            i.fa.fa-bars
        div.navbar-custom-menu
            ul.navbar-nav.nav
                li.dropdown.user.user-menu
                    a(href="#", data-toggle="dropdown").dropdown-toggle
                        img.user-image(src="/AdminLTE-2.3.11/dist/img/photo1.png", alt="User Image")
                        span.hidden-xs Admin Perumahan
                    ul.dropdown-menu
                        li.user-header
                            img.img-circle(src="/AdminLTE-2.3.11/dist/img/photo1.png", alt="User Image")

                            p
                                | Admin Perumahan
                            p
                    div(style="margin-right: 50px;")